:root {
    --carrusel-width: 100vw;
    --carrusel-height: 60vh;
    --back-ground-color: rgb(43, 61, 66);
    --back-ground-color-hover: rgb(66, 43, 66, 0.5);
    --color-text: rgb(255, 255, 255);
    --color-text-hover: rgb(255, 255, 255, 0.5);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.mainContainer {
    display: grid;
    grid-template-rows: var(--carrusel-height) 100px;
    width: var(--carrusel-width);
    overflow: hidden;
}

.carruselContainer {
    height: var(--carrusel-height);
    display: flex;
}

.sectionImg {
    width: var(--carrusel-width);
    height: var(--carrusel-height);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carruselImage {
    width: var(--carrusel-width);
    height: var(--carrusel-height);
    object-fit: cover;
}

.carruselNavContainer {
    display: grid;
    width: var(--carrusel-width);
    grid-template-columns: 1fr 7fr 1fr;
    justify-items: center;
}

.carruselNavButtonLeft, .carruselNavButtonRight {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 20px;
    font-size: 32px;
    color: white;
    border: none;
    background-color: var(--back-ground-color);
    width: 56px;
    height: 56px;
}

.carruselNavButtonLeft:hover, .carruselNavButtonRight:hover {
    cursor: pointer;
    background-color: var(--back-ground-color-hover);
}

.navImg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.navImgSection {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--back-ground-color-hover);
    cursor: pointer;
}

@media only screen and (max-width: 460px) {

    :root {
        --carrusel-height: 40vh;
    }

    .navImg {
      display: none;
    }

    .carruselNavContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  }
